---
---
@import "fonts";
@import "mixins";

.default__container {
  overflow: hidden;
  max-width: 1100px;
  margin: 29px auto 0px auto;
}

#default__project-title {
  width: 45%;
  display: inline-block;
  margin: 0 53px 25px 0;
  float:right;
  //--media queries --//
  @include max-width(750px){
    text-align: center;
    display: block;
    float: none;
    margin: 0 auto 25px auto;
    width: 90%;
  }
}

.default__image-container {
  float: left;
  width: 45%;

  //--media queries--//
  @include max-width(750px){
    display: block;
    float: none;
    margin: 0 auto 25px auto;
    width: 90%;
  }
}

.default__image {
  max-width: 100%;
  display: block;
  margin-bottom: 25px;


  @include max-width(750px){
    display: block;
    float: none;
    margin: 0 auto 25px auto;
    max-width: 80%;
  }
  @include max-width(650px){
    max-width: 100%;
  }
}

.default__text {
  float: right;
  font-family: $play-fair;
  margin-left: 53px;
  margin: -10px 53px 0 0;
  width: 45%;
  h1 {
    margin: 0;
  }
  p {
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 25px;
  }

  //--media queries --//
  @include max-width(750px){
    display: block;
    float: none;
    margin: 0 auto 25px auto;
    width: 90%;
  }
}


.default__tech-list {
  width: 45%;
  display: block;
  clear: left;
  @include max-width(750px){
    display: block;
    float: none;
    margin: 0 auto 25px auto;
    width: 90%;
  }
}
.default__tech-list-header {
  max-width: 100%;
  text-align: center;
  padding-bottom: 6px;
  margin-bottom: 16px;
  color: #4d4d4d;
  border-bottom: 1px dotted #d3d3d3;
}
.default__tech-list-link-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.default__tech-list-link {
  text-decoration: none;
  background-color: #969793;
  color: #E0E1DC;
  letter-spacing: 1px;
  padding: 8px;
  display: inline-block;
  margin: 0 10px 10px 0;
  border-radius: 3px;
}
