---
---
@import "fonts";

.default__container {
  overflow: hidden;
  max-width: 1100px;
  margin: 29px auto 0px auto;
}

.default__image-container {
  float: left;
  max-width: 45%;
}

.default__image {
  max-width: 100%;
  display: block;
  margin-bottom: 25px;
}

.default__text {
  float: left;
  font-family: $play-fair;
  margin-left: 53px;
  max-width: 50%;
  margin-top: -10px;
  h1 {
    margin: 0;
  }
  p {
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 25px;
  }
}

.default__tech-list-header {
  max-width: 100%;
  text-align: center;
  padding-bottom: 6px;
  margin-bottom: 16px;
  color: #4d4d4d;
  border-bottom: 1px dotted #d3d3d3;
}
.default__tech-list-link-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.default__tech-list-link {
  text-decoration: none;
  background-color: #969793;
  color: #E0E1DC;
  letter-spacing: 1px;
  padding: 8px;
  display: inline-block;
  margin: 0 10px 10px 0;
  border-radius: 3px;
}
