html {
  box-sizing: border-box;
  margin: 0;
}
/** {
  border: 1px solid red;
}*/

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 40px 75px 40px 75px;
  border: 30px solid #fff;
  background: #f1f2ed;
  margin: 0;
}

.line-through {
  text-decoration: line-through;
}


.main_container {
  max-width:1531px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

/* ==========
   Header
   ========== */
.site_header {
  padding-bottom: 30px;
  border-bottom: 1px dotted #d3d3d3;
}

.site_header__image {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid black;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
}


.site_header__text {
  font-family: 'Playfair Display', serif;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 24px;
  color: #4d4d4d;
}

.site_header__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  list-style-type: disc;
  text-align: center;
}

.site_header__list li {
  color: #4d4d4d;
  display: inline-block;
  text-transform: capitalize;
  overflow: hidden;
  max-width: 100%;
  margin-right: 17px;
  font-weight: bold;
  font-size: 14px;
}

/* ===========
  Work Section
============== */

.container {
  margin: 0 auto;
  max-width: 1560px;
  position: relative;
  display: block;
  overflow: hidden;
}

.project_thumb {
  max-width: 400px;
  width: 33.3%;
  display: inline-block;
  padding: 15px;
  text-align: center;
  float: left;
}

.project_thumb.oak {
  width: 50%;
  max-width: 500px;
}

.project_thumb.oak:nth-child(2){
  float: right;
}

.project_thumb__image {
  opacity: 0.8;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  outline: 0px solid white;  /* so that border transition isn't from black to white */
  transition: -webkit-filter 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              outline 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
   filter: grayscale(100%);
}

.project_thumb__image:hover {
  -webkit-filter: grayscale(0%);
  background: white;
  outline: 10px solid white;
}

.project_thumb__title {
  display: block;
  font-size: 12px;
}

.project_thumb__summary {
  font-size: 10px;
}
