--- 
---

@import './tailwind.css';

body {
    // font-family: 'Source Sans Pro',o;
    // font-family: 'Open Sans';
    font-family: 'Montserrat';
    // font-family: 'Merriweather';
    color: #292a2c;
    letter-spacing: 0.25px;
}

.montserrat {
    font-family: 'Montserrat';
}

.merriweather {
    font-family: 'Merriweather';
}

.green {
    color: #62bfad;
}

.white {
    color: #f9f7e8;
}

.gray {
    color: rgb(60, 60, 60);
}

// // fonts
// $roboto: 'Roboto Mono', monospace;
// // font sizes
// $font--large: 42px;
// $font--medium: 25px;
// $font--small: 14px;

// // letterspacing
// // $letter-spacing: 0.5;

// // font-smoothing
// $antialias: antialiased;

// // font-weights
// $font-weight--thick: 500;

// // colors
// $color--contrast: #fbeccf;
// $color--highlight: #cdffcc;
// $color--background: rgb(0, 35, 120);

// // padding
// $padding--large: 20px;
// $padding--small: 6px;

// // borders
// $border--large-white: 20px solid white;

// // margins
// $margin--none: 0px;
// $margin--tiny: 5px;
// $margin--small: 10px;
// $margin--medium: 15px;
// $margin--large: 30px;
// $margin--huge: 60px;

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@mixin spin {
    -webkit-animation: spin1 4s infinite linear;
    -moz-animation: spin1 4s infinite linear;
    -o-animation: spin1 4s infinite linear;
    -ms-animation: spin1 4s infinite linear;
    transform-origin: center center;
    animation: spin1 4s infinite linear;
}

// @mixin font {
//     font-family: $roboto;
//     // letter-spacing: $letter-spacing;
//     -webkit-font-smoothing: $antialias;
//     font-weight: $font-weight--thick;
// }

// @mixin text-hover {
//     transition: all 0.2s;

//     &:hover {
//         opacity: 0.5;
//     }
// }

// @mixin button($color) {
//     border: 2px solid $color;
//     display: inline-block;
//     padding: 10px;
// }

// .size-8 {
//     @include font;
//     font-size: 2rem;
//     line-height: 2rem;
// }

// .size-6 {
//     @include font;
//     font-size: 1.5rem;
//     line-height: 2rem;
// }

// .size-4 {
//     @include font;
//     font-size: 1rem;
//     line-height: 1.5rem;
// }

// .green {
//     color: #cdffcc;
// }

// .white {
//     color: #fbeccf;
// }

// .flex {
//     display: flex;
// }

// .wrap {
//     flex-wrap: wrap;
// }

// .align-center {
//     align-items: center;
// }

// .align-base {
//     align-items: baseline;
// }
// .mgn-b2 {
//     margin-bottom: 0.5rem;
// }

// .mgn-b4 {
//     margin-bottom: 1rem;
// }

// .mgn-b8 {
//     margin-bottom: 2rem;
// }

// .mgn-t4 {
//     margin-top: 1rem;
// }

// .mgn-r8 {
//     margin-right: 2rem;
// }

// .mgn-r2 {
//     margin-right: 0.5rem;
// }

// .mgn-r8 {
//     margin-right: 2rem;
// }

// .mgn-l2 {
//     margin-left: 0.5rem;
// }

// .border-b2 {
//     border-bottom: 2px solid $color--contrast;
//     padding-bottom: 0.25rem;
//     display: inline-block;
// }

// .border {
//     border: 2px solid $color--highlight;
//     padding: 0.5rem;
// }

// // elements
// body {
//     background-color: $color--background;
//     padding: $padding--large;
//     border: $border--large-white;
//     margin: $margin--none;
// }

// a {
//     text-decoration: none;
//     display: block;
// }

// .title {
//     // @include font-presets;
//     display: inline;
//     position: relative;
//     font-size: $font--large;
//     font-weight: $font-weight--thick;
//     color: $color--contrast;
// }

// .highlight {
//     color: $color--highlight;
// }

// .inline-img-container {
//     display: inline;
//     position: relative;
// }

// .container {
//     max-width: 532px;
//     margin-bottom: $margin--huge;
// }

.inline-img {
    @include spin;
    width: 3rem;
}

// .text--header {
//     // @include font-presets;
//     margin-top: $margin--huge;
//     font-size: $font--small;
//     color: $color--contrast;
//     font-weight: $font-weight--thick;
//     border-bottom: 2px solid $color--contrast;
//     display: inline-block;
//     padding-bottom: $padding--small;
//     margin-bottom: $margin--small;
// }

// .text--subheader {
//     // @include font-presets;
//     font-size: $font--medium;
//     color: $color--highlight;
//     margin-bottom: $margin--small;
// }

// .text--body {
//     // @include font-presets;
//     color: $color--contrast;
//     font-weight: $font-weight--thick;
//     font-size: $font--small;
//     line-height: 25px;
// }

// .text--highlight {
//     // @include font-presets;
//     color: $color--highlight;
//     font-size: $font--small;
// }

// .unordered-list-item {
//     display: flex;
//     margin-bottom: $margin--small;
// }

// .highlight-dash {
//     background: $color--highlight;
//     height: 2px;
//     width: 1rem;
// }

// .link-button {
//     // @include font-presets;
//     @include text-hover;
//     @include button($color--highlight);
//     font-size: $font--medium;
//     color: $color--highlight;
//     margin-top: $margin--large;
// }

// .text--link {
//     @include text-hover;
//     display: flex;
//     align-items: center;
// }

// .list-item {
//     // @include font-presets();
//     @include text-hover();
//     font-size: $font--medium;
//     color: $color--highlight;
//     margin-top: $margin--medium;
//     margin-bottom: $margin--medium;
// }

// .line-through {
//     text-decoration: line-through;
// }
