---
---
/**{border: 1px solid red;}*/

//--- import statements --//
@import
        "_mixins",
        "_main";

html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  border: 30px solid #fff;
  background: #f1f2ed;
  margin: 0;
}

.line-through {
  text-decoration: line-through;
  color: #aa9483;
  opacity: 0.5;
}

.main_container {
  max-width:1531px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
