html {
  box-sizing: border-box;
  margin: 0;
}
* {
  border: 1px solid red;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 40px 75px 40px 75px;
  border: 30px solid #fff;
  background: #f1f2ed;
}

.line-through {
  text-decoration: line-through;
}


.main_container {
  max-width:1531px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

.site_header__image {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}


.site_header__text {
  font-family: 'Playfair Display', serif;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 25px;
}
