---
layout: layout
---

<div class="tracking-wide text-lg sm:text-xl p-3 md:p-4 lg:p-8 bg-black text-white">
    <div class="text-3xl sm:text-4xl bg-black text-white montserrat tracking-wide">
        <div class="flex items-center">
            <div class="text-5xl mr-8 sm:text-6xl font-extrabold text-red-500">Alan Rice</div>
            <div class="inline-img-container">
                <img class="inline-img" src="assets/images/face.png"/>
            </div>
        </div>
        <div class="max-w-3xl">
            Hello, I’m a developer living in
            <span class="line-through text-red-500">San Francisco</span>
            New York focused on building products from the ground up on small teams. I love leveraging technology to make people and systems more efficient.
        </div>
    </div>
    <div class="">
        <p class="uppercase font-extrabold text-yellow-500 tracking-widest mt-8 pt-8">Experience</p>
        {% for job in site.data.info.jobs %}
            <div class="mb-4 pb-4">
                <div class="flex flex-wrap text-4xl items-baseline fg-white montserrat mb-1">
                    <div class="montserrat text-red-500 mr-4">{{ job.name }}</div>
                    <!-- <div class="mx-4">|</div> -->
                    <div class="montserrat">{{ job.role }}</div>
                </div>
                <div class="flex flex-wrap text-xl mb-4">
                    <div class="mr-4 mb-2 uppercase fg-white">{{ job.date }}</div>
                    <div class="mr-4 mb-2 fg-white">New York</div>
                    <a class="mb-2 text-blue-500 mr-3 font-medium">{{job.link}}</a>
                </div>
                <!-- <div class="text-4xl">-</div> -->

                <div class="flex flex-wrap">
                    <div class="lg:mr-8 lg:pr-8">
                        {% for highlight in job.highlights %}
                            <div class="flex items-start leading-8 mb-4 text-xl">
                                <i class="mt-1 mr-2" data-feather="arrow-right" style="min-width: 1.25rem;"></i>
                                <p class="max-w-3xl">{{ highlight }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <Container class="mt-4 lg:mt-1">
                        {% for language in job.tech %}
                            <div class="flex items-center montserrat mb-4 text-orange-600">
                                <i class="w-5 mr-2" data-feather="tool"></i>
                                <p class="text-lg font-semibold tracking-widest uppercase">{{language}}</p>
                            </div>
                        {% endfor %}
                    </Container>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="">
        <p class="uppercase font-extrabold text-yellow-500 tracking-widest mt-8">Experience</p>
        {% for school in site.data.info.schooling %}
            <div class="mb-8 pb-8">
                <div class="flex align-base flex-wrap size-8 mgn-b2 flex-wrap">
                    <div class="mr-4 text-4xl font-semibold text-red-500">{{ school.name }}</div>
                    <div class="montserrat text-4xl">{{ school.role }}</div>
                </div>
                <div class="flex flex-wrap text-xl mb-4">
                    <div class="mr-4 mb-2 uppercase fg-white">{{ school.date }}</div>
                    <div class="mr-4 mb-2 fg-white">New York</div>
                    <a class="mb-2 text-blue-500 mr-3 font-medium">{{school.link}}</a>
                </div>

                <div class="flex items-start leading-8 mb-4">
                    <i class="w-4 mt-1 mr-2" data-feather="circle" style="min-width: 0.8rem;"></i>
                    <p class="max-w-3xl">{{ school.description }}</p>
                </div>

                <!-- <Container class="flex wrap">
                    {% for language in school.tech %}
                        <p class="green size-4 mgn-r8 border">{{language}}</p>
                    {% endfor %}
                </Container> -->
            </div>
        {% endfor %}

    </div>
    <div class="main__container"></div>
</div>
