<div class="margin-bottom--medium">
  {% for contact in site.data.contacts %}
    {% if forloop.index == 1 %}
      <p class="experience__title small-font margin-bottom--small underline--contrast inline-block">Contact</p>
    {% elsif forloop.index == 3 %}
      <p class="experience__title small-font margin-bottom--small underline--contrast inline-block">Find Me</p>
    {% endif %}
    <div class="contact_group">
      <div class="name small-font">{{contact.name}}</div>
      <div class="small-font">&nbsp;-&nbsp;</div>
      <a href={{ contact.link }} target="_blank" class="highlight small-font">{{contact.display}}</a>
    </div>
  {% endfor %}
</div>
