<div id="experience">
  <p class="experience__title">Education</p>
    <div class="experience__job">
      <div class="job__left top">
        <p class="job__company">Web Development Immserive / General Assembly</p>
        <p class="job__quote">" From programming fundamentals to launching full-stack web apps, you'll learn to solve problems with code while applying industry best practices in a collaborative environment."</p>
        <p class="job__description">Full-time 12 week course in web-development. Built several web applications from scratch across different stacks using Agile and Version Control.
        <div class="job__tech">
          <span class="language">Ruby on Rails</span>
          <span class="slash">//</span>
          <span class="language">Angular</span>
          <span class="slash">//</span>
          <span class="language">MondoDB</span>
          <span class="slash">//</span>
          <span class="language">Sinatra</span>
          <span class="slash">//</span>
          <span class="language">Node</span>
        </div>
      </div>
      <div class="job__right bottom">
        <a href="https://generalassemb.ly/" target="_blank"><img class="job__img" src="/assets/images/ga.png"/></a>
      </div>
    </div>

    <div class="experience__job">
      <div class="job__right bottom">
        <a target="_blank" href="https://www.nyu.edu/"><img class="job__img" src="/assets/images/nyu.png"/></a>
      </div>
      <div class="job__left top">
        <p class="job__company">Bachelor's in Jazz Studies / NYU</p>
        <p class="job__quote">
 "NYU Jazz provides aspiring students advanced performance training combined with the finest related academic and music courses designed to encourage entrepreneurship.</p>
         <p class="job__description">Completed 4 year undergraduated music performance program. Took several additonal programming courses in the CS department.</p>
      </div>
    </div>
    </div>
  </div>
</div>
