<div>
    <p class="text--header">Experience</p>
    
    {% for job in site.data.jobs %}
        <div class="container">
            <a href={{ job.link}} class="text--subheader">
                {{ job.role }} / {{ job.name }}
            </a>
            
            <div class="text--body">{{ job.date }}</div>
            <div class="highlight-dash"></div>
            <p class="text--body">{{ job.description }}</p>
        
          {% for language in job.tech %}
            <p class="text--highlight list-item">{{language}}</p>
          {% endfor %}
        </div>
     {% endfor %}
</div>
