<div id="experience">
    {% for job in site.data.jobs %}
        <p class="header margin-bottom--small underline--contrast inline-block">
            {% if forloop.index == 1 %}
                Experience
            {% elsif forloop.index == 3 %}
                Education
            {% elsif forloop.index == 5 %}
                Side Projects
            {% endif %}
        </p>
        <div class="experience__container margin-bottom--medium">
        <a href={{ job.link}} class="job__company medium-font highlight">
          {% if job.role %}
            {{ job.role }} /
          {% endif %}

          {{ job.name }}
        </a>
        <div class="job__date small-font">{{ job.date }}</div>
        <div class="line-break"></div>
        <p class="job__description small-font margin-bottom--small">{{ job.description }}</p>
        <div class="job__tech">
          {% for language in job.tech %}
            <div class="language small-font highlight">{{language}}</div>
          {% endfor %}
         </div>
      </div>
    {% endfor %}
</div>
