<div id="experience">
    <p class="experience__title">Experience</p>
    {% for job in site.data.jobs %}
      <div class="experience__job">
        <div class="job__left top">
          <p class="job__quote">{{job.quote}}</p>
          <p class="job__description">{{ job.description }}</p>
          <div class="job__tech">
            {% for language in job.tech %}
              <span class="language">{{language}}</span>
            {% endfor %}
          </div>
        </div>
      <div class="job__right bottom">
        <p class="job__company">{{ job.role }} / {{ job.name }}</p>
        <a href={{ job.link }} target="_blank"><img class="job__img" src={{ job.img }}></a>
      </div>
    </div>
    {% if forloop.index == 2%}
      <p class="experience__title">Education</p>
    {% endif %}
  {% endfor %}
</div>
