<div class="site_header">
  <div class="image_wrap">
    <a class="carl_wrap" href="http://carlburton.tumblr.com" target="_blank"></a>
  </div>
  <div class="site_header__text">
    <i class="fa fa-hand-peace-o" aria-hidden="true"></i> Hi, I'm Alan Rice, a software developer living and working <span class="line-through">San Francisco</span> Brooklyn.
    I like blending engineering & design to build purposeful products. Currently at &nbsp;<a href="https://authorea.com" target="_blank"><img class="authorea" src="/assets/images/Authorea.svg"/></a>
  </div>
</div><!-- end of header -->
