<div id="header">
  <div class="image_wrap">
    <a class="header__img-wrap" href="http://carlburton.tumblr.com" target="_blank"></a>
  </div>
    <div class="header__contact-container">
      <a class="contact__link">GITHUB </a>
      <p class="header__slash">/</p>
      <a class="contact__link">INSTAGRAM </a>
      <p class="header__slash">/</p>
      <a class="contact__link">LINKEDIN </a>
      <p class="header__slash">/</p>
      <a class="contact__link">EMAIL </a>
    </div>
  <div class="header__text">
    Hi, I'm Alan Rice, a software developer living and working in
    <span class="line-through">San Francisco</span> Brooklyn.
    I like blending engineering & design to build purposeful products. Currently at &nbsp;<a href="https://authorea.com" target="_blank"><img class="header__authorea-img" src="/assets/images/Authorea.svg"/></a>
  </div>
</div><!-- end of header -->
