<div id="header">
  <div class="image_wrap">
    <div class="header__img-wrap"></div>
  </div>
    <div class="header__contact-container">
      <div>
        <p class="contact__email blue">AlanRiceProgrammer@Gmail.com</p>
      </div>
      <div>
        <a target="_blank" href="https://github.com/AlanRice93" class="contact__link">GITHUB </a>
        <p class="header__slash">/</p>
        <a target="_blank" href="https://www.instagram.com/aricedrums/" class="contact__link">INSTAGRAM </a>
        <p class="header__slash">/</p>
        <a target="_blank" href="https://www.linkedin.com/in/alanricecode/" class="contact__link">LINKEDIN </a>
      </div>
    </div>
      <div class="header__text">
    Hi, I'm <span class="blue">Alan Rice</span>, a software developer living and working in
    <span class="line-through">San Francisco</span> Brooklyn.
    I like blending <span class="italic">engineering</span> & <span class="italic">design</span> to build <span class="underline">purposeful products</span>. Currently at &nbsp;<a href="https://authorea.com" target="_blank"><img class="header__authorea-img" src="/assets/images/Authorea.svg"/></a>
  </div>
</div><!-- end of header -->
