
<div id="projects">
  <p class="title">Side Projects</p>
  <div class="projects__wrapper">
    {% for project in site.data.projects %}
      <div class="project">
        <p class="project__title blue">{{project.name}}</p>
        <a class="project__link" href={{ project.link }}>view on github</a>
        <p class="project__description">{{project.description}}</p>

        <div class="project__languages">
          {% for language in project.languages %}
          <p class="language">{{ language }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
