<div id="projects">
  <div class="project">
    <p class="project__title blue">Hacker News Bot</p>
        <a class="project__link italic" href="https://github.com/AlanRice93/hacker_news_slack_bot">view on github</a>
    <p class="project__description">Slack Bot leverages Slack's webhooks to send the top 5 articles from HackerNews to a slack channel. Node on the front-end listens to the current channel for any mention of hacker news.</p>
    <div class="project__languages">
      <p class="language">Rust</p>
      <p class="language">Iron</p>
      <p class="language">Node</p>
    </ul>
  </div>
</div>
