@import "_variables";

* {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

body {
  background: $bg;
  border: 20px solid white;
  padding: 20px;
}

div {
  color: $contrast;
}

span {
  color: $highlight;
}


.header__title {
  @include margin_bottom--big;
}

.underline--hightlight {
  @include underline($highlight);
}

.underline--contrast {
  @include underline($contrast);
}

.large-font {
  @include large-font;
}

.medium-font {
  @include medium-font;
}

.small-font {
  @include small-font;
  line-height:25px;
}

.margin-bottom--medium {
  @include margin-bottom--medium;
}

.margin-bottom--small {
  @include margin-bottom--small;
}

.line-break {
  background: #cdffcc;
  height: 3px;
  width: 15px;
  margin: 10px 0;
}

.experience__container {
  max-width: 532px;
}

.contrast {
  color: $contrast;
}

.background {
  background: $bg;
}

.highlight {
  color: $highlight;
}

.inline-block {
  display: inline-block;
}
