$play-fair: Playfair Display, serif;
$arimo:'Arimo', sans-serif;

.authorea {
  height: 22px;
    padding-top: 2px;
    margin-bottom: -2px;
}

* {
  font-family: $play-fair;
}



body {
  padding: 35px;
}

@import '_mixins';

.site_header {
  padding-bottom: 23px;
  border-bottom: 1px dotted #d3d3d3;
  max-width: 1100px;
  margin: 20px auto 33px auto;
}

.carl_wrap {
  display: block;
  width: 125px;
  height: 125px;
  background-image: url(/assets/images/carl_burton.gif);
  margin: 0 auto;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
  border-radius: 100%;
  transition: 0.2s;
  &:hover {
    -webkit-filter: grayscale(50%);
  }
}
.header_ref {
  text-decoration: underline;
  color: #4d4d4d;
}
.site_header__image {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  display: block;
  border-radius: 100%;
  border: 1px solid black;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
}





.site_header__text {
  font-family: $play-fair;
  width: 60%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  text-align: center;
  font-size: 24px;
  color: #4d4d4d;
  line-height: 34px;

  //--media queries --//
  @include max-width(750px){
    width: 75%;
  }
  @include max-width(500px){
    width: 90%;
  }

}

.site_header__list {
  padding: 0 0 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  list-style-type: disc;
  text-align: center;
}

.site_header__list li {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  margin: 0 8px 5px 8px;
  vertical-align: top;
}

.site_header__list li a{
  text-decoration: none;
  color: #4d4d4d;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
}

.site_header__list li:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: background-color .5s ease, width .5s ease;
    @include max-width(450px){
      display: none;
    }
}

.site_header__list li:hover:after {
  width: 100%;
  background: #aa9483;
  // @include max-width(450px){
  //   display:none;
  // }
}

.site_header__list li.site_header__nav-highlight:after {
  width: 100%;
  background: #aa9483;
}

.site_header__list span {
  display: inline-block;
  vertical-align: middle;
  color: rgba(159,159,159, 0.4);
}


.site_header__nav-highlight {
  color: #aa9483;
}

#experience {
  margin: 20px auto 33px auto;

  .experience__title {
    font-size: 40px;
    text-align: center;
  }

  .experience__job {
    display: flex;
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #d3d3d3;
    padding: 42px 0;
  }

  .job__company {
    letter-spacing: 5px;
    font-size: 13px;
    margin-bottom: 7px;
    margin-top: 0;

  }

  .job__quote {
    opacity:0.3;
    max-width: 400px;
    margin: 0 auto;
    font-size: 26px;
    font-style: italic;
  }

  .job__description {
    max-width: 400px;
    margin: 28px auto 11px auto;
    letter-spacing: 1px;
    font-size: 15px;
  }

  .job__tech {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 400px;

    .language {
      padding: 0 5px;
      text-transform: uppercase;
      color: #aa9483;
      text-decoration: underline;
      font-size: 11px;
      letter-spacing: 2px;
      white-space: nowrap;
    }

    .slash {
      color: #696969;
    }
  }

  .job__img {
    max-width: 400px;
  }
}
