@import "_variables";

* {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.5px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

body {
  background: $bg;
  border: 20px solid white;
  padding: 20px;
  cursor: url(assets/images/logo.png);
}

div {
  color: $contrast;
}

span {
  color: $highlight;
}

a {
  &:hover {
      opacity: 0.5;
  }

  transition: all 0.2s;
}

.underline--hightlight {
  @include underline($highlight);
}

.underline--contrast {
  @include underline($contrast);
}

.large-font {
  @include large-font;
}

.medium-font {
  @include medium-font;
}

.small-font {
  @include small-font;
  line-height:25px;
}

.margin-bottom--big {
  @include margin-bottom--big;
}

.margin-bottom--medium {
  @include margin-bottom--medium;
}

.margin-bottom--small {
  @include margin-bottom--small;
}

.line-break {
  background: #cdffcc;
  height: 3px;
  width: 15px;
  margin: 10px 0;
}

.experience__container {
  max-width: 532px;
}

.experience__title {
  margin-top: 30px;
}

.contrast {
  color: $contrast;
}

.background {
  background: $bg;
}

.highlight {
  color: $highlight;
}

.inline-block {
  display: inline-block;
}

.contact_group {
  display: flex;
}

.header {
  max-width: 900px;
}
