$bg: rgb(0, 35, 120);
$highlight: #cdffcc;
$contrast: #fbeccf;

@mixin large-font {
  font-size: 42px;
}

@mixin medium-font {
  font-size: 25px;
}

@mixin small-font {
  font-size: 14px;
}

@mixin underline($color){
  border-bottom: 2px solid $color;
  padding-bottom: 2px;
}

@mixin margin-bottom--big {
  margin-bottom: 140px;
}

@mixin margin-bottom--medium {
  margin-bottom: 66px;
}

@mixin margin-bottom--small {
  margin-bottom: 15px;
}

.contrast {
  color: $contrast;
}

.background {
  background: $bg;
}

.highlight {
  color: $highlight;
}
