$bg: #112378;
$highlight: #cdffcc;
$contrast: #fbeccf;

.contrast {
  color: $contrast;
}

.background {
  background: $bg;
}

.highlight {
  color: $highlight;
}

@mixin large-font {
  font-size: 43px;
}

@mixin underline($color){
  border-bottom: 2px solid $color;
  padding-bottom: 2px;
}
