<!DOCTYPE html>
<html>
  <head>
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ramabhadra|Arimo' rel='stylesheet' type='text/css'>
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">

    {% if page.url == "/contact.html" %}
      <link rel="stylesheet" href="/css/contact.css">
    {% else %}
      <link rel="stylesheet" href="css/default.css">
    {% endif %}
    <!-- title -->
    <title></title>
  </head>
  <body>

    {% include header.html %}

    {% if page.url == "/contact.html" %}
      <div class="contact__paragraph">
          {{ content }}
        </div>
      {% else %}
        <div class="main__container">
          {{ content }}
        </div>
      {% endif %}

    </div>

    <!-- scripts -->
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
