<!DOCTYPE html>
<html>
  <head>
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/default.css">

    <!-- title -->
    <title></title>
  </head>
  <body>
    {% include header.html %}
    {%  if page.url == "/contact.html" %}
      {% include contact_bar.html %}
    {% else %}
      <div class="main__container">
        {{ content }}
      </div>
    {% endif %}
    <!-- scripts -->
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
