<!DOCTYPE html>
<html>
  <head>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/default.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <!-- title -->
    <title>Alan Rice | Developer</title>
  </head>

  <body>
    {% include header.html %}

    <div class="main__container">
      {% include experience.html %}
      {% include projects.html %}
    </div>

    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
